<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webix-show</title>
</head>

<script>
    webix.ui({
    });


    //行
    webix.ui({
        width:500,
        rows: [
            { template:"Row 1" }, //1st row
            { template:"Row 2" }  //2nd row
        ]
    });

    //列
    webix.ui({
        width:500,
        rows: [
            { template:"Row 1" },
            { cols:[
                { template:"Column 1" },//1st column
                { template:"Column 2" } //2nd column
            ]}
        ]
    });
//编辑列
    webix.ui({
        width:500,
        rows: [
            { view:"toolbar", elements:[
                { view:"button", value:"Add",    width:100 },
                { view:"button", value:"Delete", width:100 }
            ]},
            { cols:[
                { template:"Column 1" },//1st column
                { template:"Column 2" } //2nd column
            ]}
        ]
    });

    //增加表单
    webix.ui({
        width:500,
        rows: [
            { view:"toolbar", elements:[
                { view:"button", value:"Add",    width:100},
                { view:"button", value:"Delete", width:100 }
            ]},
            { cols:[
                {view:"form", elements:[
                    { view:"text", placeholder:"Title"},
                    { view:"text", placeholder:"Year"}
                ]},
                { template:"Column 2" } //2nd column
            ]}
        ]
    });

    //增加列表
    webix.ui({
        width:500,
        rows: [
            { view:"toolbar", elements:[
                { view:"button", value:"Add",    width:100},
                { view:"button", value:"Delete", width:100 }
            ]},
            { height:120, cols:[
                {view:"form", elements:[
                    { view:"text", placeholder:"Title"},
                    { view:"text", placeholder:"Year"}
                ]},
                {view:"list",
                    template:"#title# - #year#", // which data to show
                    select:true, //enables selection
                    height:400,
                    data: [
                        { id:1, title:"The Shawshank Redemption", year:1994},
                        { id:2, title:"The Godfather", year:1972},
                        { id:3, title:"The Godfather: Part II", year:1974},
                        { id:4, title:"The Good, the Bad and the Ugly", year:1966},
                        { id:5, title:"My Fair Lady", year:1964},
                        { id:6, title:"12 Angry Men", year:1957}
                    ]
                }
            ]}
        ]
    });
</script>
<body>
WEBIX-TEST
</body>
</html>